.about {
  max-width: 90% !important;
  max-height: 90% !important;
  border-radius: 10px;
  border: 2px solid var(--second-color);
  background-color: var(--second-color);
  margin: 0 auto;
  height: 60%;
  align-items: center;
  display: block;
  padding: 20px 20px;
  /* background-image: url('../images/frontt.PNG'); */
  background-repeat: no-repeat;
  background-size: cover;


}
.page-title {
  text-align: center;
  font-size: var(--big-font);
  /* margin-top: 100px; */
  margin-bottom: 50px;
}
.graph1,.graph2,.graph3,.graph4,.graph5{
    font-size: large;
} 
.sub-title {
    font-size: 1.8rem;

}
@media (max-width: 668px){
    .page-title {font-size: var(--h2-font);}
    .sub-title {font-size: var(--h3-font);}
}